/*Header*/
.siteTitle, h1 {
  font-family:'Barrio', sans-serif;
  font-weight: 700;
}
/*Body*/
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
/*Footer*/
footer {
  background-color:#333;
  width:100%;
  padding: 0px 0 15px 0;
}
footer p {
  color: white;
  pading:0 20px;
}
div {
  background: url("https://pixabay.com/get/e83cb80f2af2093ed1584d05fb0938c9bd22ffd41db9194692f1c57ca3/hong-kong-1990268_1280.jpg") no-repeat scroll center;
}
